/* styles.css */

body {
    background: linear-gradient(to right, #6a0572, #ab83a1);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Roboto', cursive;
}

#chat-container {
    width: 80%;
    margin: auto;
    background-color: #fff; /* Update background color to a visible color */
    color: #333; /* Set text color to a contrasting color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#user-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#user-message {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    background-color: #6a0572;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ab83a1;
}

.user, .bot {
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
}

.user {
    background-color: #f4f3e1; /* Set background color for user messages */
    color: rgb(0, 0, 0);
}

.bot {
    background-color: #d6ebe0; /* Set background color for bot messages */
    color: rgb(0, 0, 0);
}